@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.profile {
    padding: 30px 30px;
}

.header {
    min-height: 60vh;
    background: rgba(161, 210, 233, 0.637);
    background: linear-gradient(to right, rgba(236, 162, 0, 255, 0.719), #009FFF);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.45);
    border-radius: 15px; /* Add this line to curve the edges */
}


.details {
    text-align: center;
}

.profile-pic {
    height: 6rem;
    width: 6rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.location p {
    display: inline-block;
}

.location svg {
    vertical-align: middle;
}

.stats {
    display: flex;
}

.stats .col-4 {
    display: flex;
    justify-content: center;       /* Centers the text horizontally */
    white-space: nowrap;           /* Prevents text from wrapping */
    width: fit-content;            /* Adjusts the width of the element to fit the content */
    margin: 0 auto;                /* Center the element within the parent */
    font-size: calc(100% - 2vw); 
    
}

.heading {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.stat2 {
    display: flex;
}

.stats .col-12 {
    width: 10rem;
    text-align: center;
}

.bck {
    background-color: rgb(253, 224, 71, 0.637) !important;
}


